body {
    background-color: rgb(0, 255, 136);
    text-align: center;
}

h1 {
    font-size: 50px;
}

button {
    background-color: white;
    font-size: 18px;
    font-weight: bolder;
    padding: 20px;
    border-style: groove;
    border-radius: 50px;
}

button:hover {
    background-color: rgb(243, 87, 165);
    color: white;
    border-color: white;
}

#clocks {
    display: flex;
    justify-content: space-around;
}

#clock,
#clock1 {
    text-align: center;
    font-size: 40px;
    padding: 40px;
    width: 200px;
    height: 40px;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    font-weight: bolder;
    border-width: 8px;
}

#clockbtn {
    text-align: center;
    display: flex;
    justify-content: space-around;
    margin: 20px;
}